#ItemWallet{
  color:white !important;
  position: relative;
  width: 100%;
  height: 155px;
  /*height: 100%;*/
  /*width: calc(100% - 30px);*/
  max-width: 255px;
  /*height: calc(180px - 30px);*/
  border-radius: 6px;
  padding: 15px;
  display: grid;
  /*grid-template-rows: repeat(auto-fill, minmax(20px, 1fr)) !important;*/
  grid-template-rows: 35px 20px 25px 20px 1fr;
  transform: scale(1);
  transition: .2s;
  cursor: pointer;
  grid-row-gap: 3px;
  -webkit-box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.04);
  -moz-box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.04);
  box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.04);
  overflow: hidden;
  transform-origin: top;
  /*grid-area: wallet !important;*/
}

.retweetCont{
  display: grid;
  align-items: center;
  justify-items: center;
  height: 20px;
  align-self: flex-end;
  margin-bottom: 10px;
}

#ItemWallet.cryptoWallet{
  grid-template-rows: 35px 25px 1fr;
}

.contWalleins{
  display: grid;
  align-items: center;
  justify-items:center;
  width: calc(100% - 30px) !important;
  /*height: calc(180px - 30px) !important;*/
  transform-style: preserve-3d;
  perspective: 2000px;
}


.WIwalletDeleting{
  transition:.3s !important;
  transform: scale(0.9);
  opacity: 0.7;
}

#WalletList2{
  color: #6b6b6b !important;
  max-width: 500px !important;
  font-size: 16px !important;
}

.withdraw_accounts_screen{
  background: #f1f1f1;
  padding: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  max-width: 650px;
  max-height: 400px;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.withdraw_accounts_screen_cont{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row-gap: 80px;
}

.WIitemDeleted{
  animation-name: WItemDeleted;
  animation-duration: .3s;
  /*animation-delay: .12s;*/
  animation-timing-function: cubic-bezier(1,1,1,1);
  animation-fill-mode: forwards;
  transform: rotateY(0deg);
}

@keyframes WItemDeleted{
  0%{
    transform: rotateX(0deg);
  }

  100%{
    transform: rotateX(90deg);
  }
}

.WIwalletDeleted{
  opacity: 0.5;
  animation-name: walletDeleted;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(1,1,1,1);
  animation-fill-mode: forwards;
}

@keyframes walletDeleted{
  0%{
    transform: scale(0.9);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    transform: scale(0.5);
    /*transform: rotateX(0deg);*/
  }
}

.ICControls{
  grid-area: controls !important;
  height: 100%;
  grid-template-columns: 1fr;
  justify-items:center;
}

.ICwalletContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  row-gap: 10px;
}

.ICwalletContainer.ICMovil .ICControls{
  width: 100%;
  height: 55px;
}

.ICControlContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 180px;
}



.ICwalletContainer.ICMovil{
  display: grid;
  max-height: 270px;
  /*max-width: 255px;*/
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "wallet wallet wallet"
                       "wallet wallet wallet"
                       "controls controls controls"
}

/*.ICMovil #ItemWallet{
  justify-self:center !important;
}*/

.ICwalletContainer.ICDesktop{
  display: grid;
  max-width: 350px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "wallet wallet controls"
                       "wallet wallet controls"
                       "wallet wallet controls"
}

.eraseN{
  bottom: 10px;
  align-self:flex-end;
  margin-bottom: 20px;
}

.ItemWCta.noVisible, .ItemBarra.noVisible{
  display: none !important;
}

.ItemBarra{
  width: 30px;
  height: 100%;
  background: #0000009e;
  position: absolute;
  z-index: 5;
  display: grid;
  transition: .3s;
  right: -40px;
  grid-template-rows: 30px 30px 1fr;
  align-items: center;
  grid-row-gap: 5px;
  background: linear-gradient(to bottom, #0000006e, #000000b0);
}

.ICitemControl p{
  margin: 0 !important;
  color: black;
  font-size: 14px;
  text-align: center;
}

.ICitemControl i{
  justify-self: center;
  color: black;
}

.ICitemControl{
  display: grid;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  transition: .3s;
  transform: scale(0.7);
  opacity: 0.4;
  width: 65px;
  align-items: center;
}

.ICitemControl:hover{
  transform: scale(0.8);
  opacity: 0.6;
}

.tooltiptext2{
  top: -25% !important;
  left: -230% !important;
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px !important;
  position: absolute;
  z-index: 1;
  margin-left: -30px;
}

.tooltip:hover .tooltiptext2{
  visibility: visible !important;
}

.ItemWallet:hover .ItemBarra{
  right: 0 !important;
}

.Ideposit:hover{
  color: #00ff00;
}

.IRetiro:hover{
  color: #ff6161;
}

.IdeleteButton.tooltip{
  position: absolute;
}

#ItemWallet:hover .IdeleteButton{
  opacity: 1;
}

.IdeleteButton{
  /*position: absolute;*/
  right: 7px;
  font-size: 18px;
  color: white;
  font-weight: 400 !important;
  /*top: 10px;*/
  z-index: 5;
  transition: .3s;
  transform: scale(1);
}

.ItemBarraI, .ItemBarraI2{
  position: relative;
}

.ItemBarra.withdraw{
    grid-template-rows: 1fr !important;
}

.ItemBarraI.noVisible{
  display: none;
}

.ItemWCta{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}



#ItemWallet:hover{
  -webkit-box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.2);
    transform: scale(1.01);
}

#ItemWallet>p{
    margin: 0 !important;
}

#ItemWallet>div>p{
    margin: 0 ;
}

#ItemWallet>h1{
  margin: 0 !important;
  font-size: 18px;
}

.contSuscribed{
  display: flex;
  align-items: center;
}

.contSuscribed i{
  color: #00ff60;
  margin: 0 6px;
}

.contLoader2 .lds-roller div:after {
  background: white !important;
}

.contLoader2{
  transform: scale(.5);
  width: 40px;
  position: relative;
  display: block;
  top: -6px;
  left: -10px;
}

.contLoader2 .lds-roller{
  width: inherit !important;
  height: inherit !important;
}


.ItemWalletLink{
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
    /*text-shadow: 1px 1px #656565;*/
}
.IWLittleTitle{
  font-size: 14px !important;
  /*margin-bottom: 20px;*/
}

#ItemWallet.NoInscribed{
  background: gray;
  opacity: 0.7;
}

.ItemWallet, .ItemWallet2{
  background: #80808036;
  position: relative;
}
.IWBalance{
  font-size: 20px;
}

#backCard{
  opacity: 0.12;
  z-index: 2;
}

.ItemWallet img, .ItemWallet2 img{
    position: absolute;
    align-self: center;
}

#imgCurrency{
  right: -70px;
  z-index: 1;
}

.iconBank{
  position: absolute;
  /*align-self: center;*/
  top: 10px;
  right: 20px;
  z-index: 1;
}

.IWText{
  position: relative;
  z-index: 3;
}

.IWText.titu{
  display: flex !important;
}

.tobe_continue{
  display: block;
  margin-left: 2px;
  max-width: 240px;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.IWaddressConainer{
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
}

.IWcurrencyText{
  font-size: 15px;
}

.ItemWallet.usd, .ItemWallet.cop, .ItemWallet2.usd, .ItemWallet2.cop {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.ItemWallet.bitcoin, .ItemWallet.bitcoin_testnet, .ItemWallet2.bitcoin, .ItemWallet2.bitcoin_testnet{
  background: linear-gradient(to right, #F9A847, #CF7507);
}

.ItemWallet.ethereum, .ItemWallet2.ethereum{
  background: linear-gradient(to right, #8C8C8C, #141414);
}

.ItemWallet.dash, .ItemWallet2.dash{
  background: linear-gradient(to right, #2C8FE0, #155A93);
}

.ItemWallet.vchain, .ItemWallet2.vchain{
  background: linear-gradient(to right, #A477D0, #5136AB);
}



.iconBank2{
  position: absolute;
  right: -50px;
  align-self: center;
}

.iconBank2Cont{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  transition: .1s;
  opacity: 0;
  animation-timing-function: cubic-bezier(1,1,1,1);
}

.iconBank2Cont.ON{
  transition: 1s;
  opacity: 1 !important;
}






.ItemTemplate #ItemWallet{
  width: 270px !important;
  -webkit-box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.25);
box-shadow: 0px 0px 56px 3px rgba(0,0,0,0.25);
  transform: scale(1.01);
}

.iconBank2Cont img{
  position: relative !important;
}

.ItemWallet.litecoin, .ItemWallet2.litecoin{
  background: linear-gradient(to right, #bfbfbf, #a0a0a0);
}

.ItemTemplate{
  /*width: 370px;*/
  /*height: 240px;*/
  border-radius: 6px;
  /*background: gray;*/
  position: relative;
  z-index: 2;
  width: 270px !important;
  transform: perspective(1000px) rotateX(-0deg) rotateY(0deg) scale3d(1.1, 1.1, 1.1);
  transition:.4s;
}


.ItemTemplate.animate{
  animation-name: logo;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes logo{
  0%{
    transform: perspective(1000px) rotateX(-14deg) rotateY(14deg) scale3d(1.1, 1.1, 1.1);
  }

  50%{
    transform: perspective(1000px) rotateX(14deg) rotateY(-14deg) scale3d(1.1, 1.1, 1.1);
  }

  100%{
    transform: perspective(1000px) rotateX(-14deg) rotateY(14deg) scale3d(1.1, 1.1, 1.1);
  }
}


.CurrencyCardList{
  transform: perspective(1000px);
}

.textCurrencyList{
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  grid-row-gap: 5px;
}

.textCurrencyList p{
  font-size: 18px !important;
}

.currencyStatus{
  opacity: 0;
  transition: 200ms;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.currencyStatus.active{
  transition: .4s;
  height: 25px;
  opacity: 1;
}

.currencyStatus p{
  font-size: 15px !important;
}

.implementedCurrency i{
  margin-right: 5px;
}

.implementedCurrency{
  color:#00d451 !important;
}

.implementedCurrency.No{
  color:gray !important;
}




.contIconsTem{
  position: absolute;
  right: 0;
  width: 150px;
  transition: .3s;
  display: grid;
  grid-template-rows: repeat(auto-fill, 185px);
  /*top: 0%;*/
  /*top: -100%;*/
}




















































































































































































/**/
